# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Chroma Vector DB
backend/data/chroma_store/

# Raw datasets
backend/data/raw/
backend/data/raw_dataset/

# Node 
node_modules/
dist/
build/